body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;

}
#header{
    width: 80%;
    height: 50px;
    background-color:rgb(23 64 139);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
#title{
    color: rgb(37 76 146);
}
.plyerDiv p{
    font-size: large;
}
#playerContainor{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}
#playerContainor h4{
    color: rgb(23 64 139);
}
.plyerDiv{
    background-color:rgb(240 240 240) ;
    width: 15%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
#forTAble{
    height: 300px;
    width: 100%;
    overflow: scroll;
}
#details{
    background-color: rgb(240 240 240);
    padding: 0px 20px ;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(201, 198, 198);
}
#form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
}
#form button{
    width: 25%;
    align-self: center;
    height: 30px;
    color: white;
    background-color: rgb(23 64 139);
    border: none;
    border-radius: 3px;
}
#form select{
    padding: 10px;
    border-radius: 3px;
}
#form div{
    width: 100%;
}
#form input{
    width: 85%;
}
#form label{
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 4px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}
table button{
    color: white;
    background-color:rgb(23 64 139) ;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 6px;
}
  td, th {
    border: 1px solid #a19c9c;
    padding: 8px;
    text-align: center;
  }
  
th{
    background-color: rgb(201 8 42);
    color: white;
    text-align: center;
}